*{
    margin: 0;
    padding: 10;
}

.photo{
    padding: 0px;
    margin: 0px;
    height: 640px;
    width: 50%;
}

.content{
    width: 1200px;
    height: auto;
    margin-top: 300px;
}   

.form{
    margin-left: 20px;
}

.par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: larger;
}

h1{
    font-family: Times New Roman;
    font-size: 50px;
    padding-left: 20px;
    padding-top: 240px;
    margin-top: 5%;
    letter-spacing: 2px;
    margin-left: 0;
    color-scheme: brown;
}

footer{
    float: right;
    color: green;
    font-size: small;
}

