*{
    margin: 0;
    padding: 10;
}

.main{
    width: 100%;
    background-image: url(/images/Capture.PNG);
    background-position: center;
    background-size: cover;
    height: 75vh; 
    padding-top: -30px;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: 20;
    padding-top: -80px;
}

ul li a:hover{
    color: darkgreen;
}

.search{
    width:330px;
    float: right;
    margin-left: 100px;
    padding-right: -30px;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: black;
    position: relative;
    margin-top: -150px;
}   

.par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: larger;
}

h1{
    font-family: Times New Roman;
    font-size: 50px;
    padding-left: 20px;
    padding-top: 240px;
    margin-top: 0%;
    letter-spacing: 2px;
    margin-left: 0;
    color-scheme: brown;
}

footer{
    float: right;
    color: green;
    font-size: small;
}

